@()

@main("運営者概要 - ネコサーチ | 迷子猫と保護情報の専用掲示板", true) {
<body id="static">
	<div id="wrap">
		<div id="contents">
			<div id="nav">
				@template.sp_menu()
			</div>

			<div id="main_wrap">
				<div id="main_content">
					<h2>運営者概要</h2>
					<div id="add_320_50_twin">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="6816982319"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="6816982319"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
					</div>

					<table>
						<tr>
							<th>運営者</th>
							<td>kiki verb</td>
						</tr>
						<tr>
							<th>代表</th>
							<td>清水ケンイチ</td>
						</tr>
						<tr>
							<th>設立年月日</th>
							<td>2011年4月1日</td>
						</tr>
						<tr>
							<th>事業内容</th>
							<td>ホームページ制作<br />ウェブサービス企画開発<br />システム開発</td>
						</tr>
						<tr>
							<th>連絡先</th>
							<td>info@@kiki-verb.com</td>
						</tr>
						<tr>
							<th>ウェブサイト</th>
							<td><a href="http://www.kiki-verb.com/" target="_blank">http://www.kiki-verb.com/</a></td>
						</tr>
					</table>
				</div>

				<div id="footer">
					<address>Copyright &copy; 2016- <a href="http://www.kiki-verb.com/" target="_blank">kiki-verb.com</a>. All Rights Reserved.</address>

					<script type="text/javascript">
						var _gaq = _gaq || [];
						_gaq.push(['_setAccount', 'UA-21623031-10']);
						_gaq.push(['_trackPageview']);
						(function() {
							var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
							ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
						})();
					</script>
				</div>
			</div>
		</div>
	</div>
}