@()

@main("各種関連リンク集 - ネコサーチ | 迷子猫と保護情報の専用掲示板", true) {
<body id="static">
	<div id="wrap">
		<div id="contents">
			<div id="nav">
				@template.sp_menu()
			</div>

			<div id="main_wrap">
				<div id="main_content">
					<h2><i class="icon-phone-sign"></i>各種関連リンク集</h2>
					<div id="add_320_50_twin">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="6816982319"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="6816982319"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
					</div>
					<div class="feat_contents">
						<h3>省庁・行政機関</h3>
						<ul>
							<li><a href="http://www.npa.go.jp/consultation/chiiki2/ishitsubutsulink.htm" target="_blank">都道府県警察における遺失物の公表ページ</a></li>
							<li><a href="http://www.mhlw.go.jp/stf/seisakunitsuite/bunya/kenkou_iryou/kenkou/hokenjo/index.html" target="_blank">厚生労働省 保健所管轄区域案内</a></li>
							<li><a href="http://jawn.env.go.jp/" target="_blank">収容動物データ検索サイト[環境省]</a></li>
						</ul>

						<h3>迷子猫の探し方</h3>
						<ul>
							<li><a href="http://getnews.jp/archives/298456" target="_blank">迷子猫を探し出すコツ &#8211; ガジェット通信</a></li>
							<li><a href="http://allabout.co.jp/gm/gc/68923/" target="_blank">猫が帰って来ない・・その時あなたは　迷い猫の探し方 [猫] All About</a></li>
							<li><a href="http://allabout.co.jp/gm/gc/31824/1/" target="_blank">迷子猫、脱走猫の探し方と防ぎ方 [猫] All About</a></li>
							<li><a href="http://www.hm.aitai.ne.jp/~ishikawa/p_memo9.htm" target="_blank">迷子猫の捜索方法</a></li>
							<li><a href="http://necotex.net/?mode=f4" target="_blank">迷い猫の探し方｜迷い猫、迷子犬のポスター・チラシ制作なら- ねこてっくす</a></li>
							<li><a href="http://maigo-pet.seesaa.net/article/114460175.html" target="_blank">迷子犬・迷い猫の探し方: その１ いつもの散歩コース、ご近所を探す</a></li>
							<li><a href="http://www.mayoi-neko.net/article/column/10111.html" target="_blank">【第2回】迷子になったとき、最初にするべきこと</a></li>
						</ul>
						<h3>迷子掲示板</h3>
						<ul>
							<li><a href="http://www.mayoi-neko.net/" target="_blank">迷い猫.NET／迷子猫・迷子犬／迷子ペット捜索情報ネット</a></li>
							<li><a href="http://www.vets.ne.jp/bbs/c_6102.cgi" target="_blank">迷子猫・保護猫掲示板[獣医師広報板]</a></li>
							<li><a href="http://planet.cside5.com/ppw/" target="_blank">迷い猫・迷子犬／Pee's Pets Web－迷子ペット公開捜査－</a></li>
							<li><a href="http://www.neko-jirushi.com/maigo/" target="_blank">迷子ネコ掲示板 - 飼い猫を探しています - ネコジルシ</a></li>
							<li><a href="http://bbs2.sekkaku.net/bbs/maigo.html" target="_blank">全国迷子犬・猫の掲示板</a></li>
							<li><a href="https://www.facebook.com/maigopet" target="_blank">迷子ペット回覧板[facebookページ]</a></li>
						</ul>
						<h3>里親募集サイト(迷子の猫が保護されている場合もあります。)</h3>
						<ul>
							<li><a href="http://www.tokyocatguardian.org/cats.html" target="_blank">猫の里親募集 - NPO法人 東京キャットガーディアン～子猫の里親募集～</a></li>
							<li><a href="http://www.moraineko.net/" target="_blank">もらい猫.NET／猫と犬、その他の動物の里親募集掲示板サイト</a></li>
							<li><a href="http://satooya.wancat.info/" target="_blank">『ペットの命』犬・猫 ペットの里親募集＆迷子情報サイト</a></li>
							<li><a href="http://www.pe-net.jp/" target="_blank">里親募集ぺネット 犬と猫の里親募集サイト</a></li>
							<li><a href="http://www.npo-nekoya.com/" target="_blank">猫の里親を行っております｜NPO法人ねこ家</a></li>
							<li><a href="https://www.pet-home.jp/cats/" target="_blank">猫の里親募集 :: ペットのおうち</a></li>
							<li><a href="http://www.satoya-boshu.net/first_siganc.htm" target="_blank">猫・里親・募集・掲示板～ペットショップ保健所へ行く前に～</a></li>
							<li><a href="https://www.lifeboatjapan.org/satooya/cat/cats.htm" target="_blank">里親さんを待っている猫たち - NPO法人犬と猫のためのライフボート</a></li>
						</ul>
					</div>
				</div>

				<div id="footer">
					<address>Copyright &copy; 2016- <a href="http://www.kiki-verb.com/" target="_blank">kiki-verb.com</a>. All Rights Reserved.</address>

					<script type="text/javascript">
						var _gaq = _gaq || [];
						_gaq.push(['_setAccount', 'UA-21623031-10']);
						_gaq.push(['_trackPageview']);
						(function() {
							var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
							ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
						})();
					</script>
				</div>
			</div>
		</div>
	</div>
}