@()

@main("お買い物コーナー - ネコサーチ | 迷子猫と保護情報の専用掲示板", true) {
<body id="static">
	<div id="wrap">

		<div id="contents">
			<div id="nav">
				@template.sp_menu()
			</div>

			<div id="main_wrap">
				<div id="main_content">
					<h2><i class="icon-trophy"></i>お買い物コーナー</h2>
					<div id="add_320_50_twin">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="6816982319"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="6816982319"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
					</div>

					<div class="feat_contents">
						<p>
							こちらは通信販売の広告バナー掲載コーナーです。<br />
							当サイトの運営はこのような広告の掲載と、広告をクリックしてご購入頂いた際の収益分配金で賄われております。<br />
							ぜひ当サイトからお買い物をお楽しみください！
						</p>
						<h3>広告バナー一覧</h3>
						<ol>
							<li>
								<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="8293715513"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2HQ3UC+662Q6Y+38A4+60OXD" target="_blank">
								<img border="0" width="300" height="250" alt="" src="http://www29.a8.net/svt/bgt?aid=150703860373&wid=002&eno=01&mid=s00000015070001011000&mc=1"></a>
								<img border="0" width="1" height="1" src="http://www16.a8.net/0.gif?a8mat=2HQ3UC+662Q6Y+38A4+60OXD" alt="">
							</li>
							<li>
								<SCRIPT charset="utf-8" type="text/javascript" src="http://ws.amazon.co.jp/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fsmkn-22%2F8009%2F9c09b4cf-1300-4a1e-b136-f6fd1a39ce99&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A HREF="http://ws.amazon.co.jp/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fsmkn-22%2F8009%2F9c09b4cf-1300-4a1e-b136-f6fd1a39ce99&Operation=NoScript">Amazon.co.jp ウィジェット</A></NOSCRIPT>
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2BFG64+740FOA+2R7Y+C164X" target="_blank">
								<img border="0" width="300" height="250" alt="" src="http://www26.a8.net/svt/bgt?aid=140128924430&wid=002&eno=01&mid=s00000012859002021000&mc=1"></a>
								<img border="0" width="1" height="1" src="http://www14.a8.net/0.gif?a8mat=2BFG64+740FOA+2R7Y+C164X" alt="">
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2HQ3UC+64AFDM+392Q+5Z6WX" target="_blank">
								<img border="0" width="300" height="250" alt="" src="http://www29.a8.net/svt/bgt?aid=150703860370&wid=002&eno=01&mid=s00000015173001004000&mc=1"></a>
								<img border="0" width="1" height="1" src="http://www18.a8.net/0.gif?a8mat=2HQ3UC+64AFDM+392Q+5Z6WX" alt="">
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2BFG64+74LVA2+2XGE+5Z6WX" target="_blank">
								<img border="0" width="300" height="250" alt="" src="http://www25.a8.net/svt/bgt?aid=140128924431&wid=002&eno=01&mid=s00000013667001004000&mc=1"></a>
								<img border="0" width="1" height="1" src="http://www18.a8.net/0.gif?a8mat=2BFG64+74LVA2+2XGE+5Z6WX" alt="">
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2HQ3UC+6F089M+3J8+TV3PD" target="_blank">
								<img border="0" width="300" height="250" alt="" src="http://www21.a8.net/svt/bgt?aid=150703860388&wid=002&eno=01&mid=s00000000458005016000&mc=1"></a>
								<img border="0" width="1" height="1" src="http://www19.a8.net/0.gif?a8mat=2HQ3UC+6F089M+3J8+TV3PD" alt="">
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2BFG64+78RWII+2RTW+601S1" target="_blank"><img border="0" width="300" height="250" alt="" src="http://www29.a8.net/svt/bgt?aid=140128924438&wid=002&eno=01&mid=s00000012938001008000&mc=1"></a><img border="0" width="1" height="1" src="http://www11.a8.net/0.gif?a8mat=2BFG64+78RWII+2RTW+601S1" alt="">
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2BFG64+76E63E+Y92+8LU6XD" target="_blank">
								<img border="0" width="300" height="250" alt="" src="http://www21.a8.net/svt/bgt?aid=140128924434&wid=002&eno=01&mid=s00000004439052041000&mc=1"></a>
								<img border="0" width="1" height="1" src="http://www16.a8.net/0.gif?a8mat=2BFG64+76E63E+Y92+8LU6XD" alt="">
							</li>
							<li>
								<SCRIPT charset="utf-8" type="text/javascript" src="http://ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fsmkn-22%2F8006%2F99da5bff-1072-4959-b915-bb25fa3f81f8"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-fe.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Fsmkn-22%2F8006%2F99da5bff-1072-4959-b915-bb25fa3f81f8&Operation=NoScript">Amazon.co.jp ウィジェット</A></NOSCRIPT>
							</li>
							<li>
								<script type="text/javascript" src="http://ad.pitta.ne.jp/ads/4c4583cfe717d43be953dfe901bcf9602533ea22"></script>
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2BFG64+9OW21M+G3G+6LHDT" target="_blank">
								<img border="0" width="300" height="250" alt="" src="http://www23.a8.net/svt/bgt?aid=140128924586&wid=002&eno=01&mid=s00000002086001108000&mc=1"></a>
								<img border="0" width="1" height="1" src="http://www10.a8.net/0.gif?a8mat=2BFG64+9OW21M+G3G+6LHDT" alt="">
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2HWHEG+419T5M+3B0Q+601S1" target="_blank">
								<img border="0" width="300" height="250" alt="" src="http://www20.a8.net/svt/bgt?aid=151001368244&wid=002&eno=01&mid=s00000015425001008000&mc=1"></a>
								<img border="0" width="1" height="1" src="http://www14.a8.net/0.gif?a8mat=2HWHEG+419T5M+3B0Q+601S1" alt="">
							</li>
							<li>
								<script type="text/javascript" src="http://ad.pitta.ne.jp/ads/4c4583cfe717d43be953dfe901bcf9602533ea22"></script>
							</li>
							<li>
								<script type="text/javascript">rakuten_design="slide";rakuten_affiliateId="0b3c3cf8.af93541e.0d3cf872.d67eab63";rakuten_items="ctsmatch";rakuten_genreId=0;rakuten_size="300x250";rakuten_target="_blank";rakuten_theme="gray";rakuten_border="off";rakuten_auto_mode="on";rakuten_genre_title="off";rakuten_recommend="on";</script><script type="text/javascript" src="http://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js"></script>
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2HQ3UC+679LEI+32O6+BYT9D" target="_blank">
								<img border="0" width="300" height="250" alt="" src="http://www26.a8.net/svt/bgt?aid=150703860375&wid=002&eno=01&mid=s00000014343002010000&mc=1"></a>
								<img border="0" width="1" height="1" src="http://www12.a8.net/0.gif?a8mat=2HQ3UC+679LEI+32O6+BYT9D" alt="">
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2BFG64+BE7PCQ+CHG+TX15D" target="_blank">
								<img border="0" width="300" height="250" alt="" src="http://www25.a8.net/svt/bgt?aid=140128924689&wid=002&eno=01&mid=s00000001618005025000&mc=1"></a>
								<img border="0" width="1" height="1" src="http://www15.a8.net/0.gif?a8mat=2BFG64+BE7PCQ+CHG+TX15D" alt="">
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2BFG64+9OW21M+G3G+6OWU9" target="_blank">
								<img border="0" width="300" height="250" alt="" src="http://www25.a8.net/svt/bgt?aid=140128924586&wid=002&eno=01&mid=s00000002086001124000&mc=1"></a>
								<img border="0" width="1" height="1" src="http://www17.a8.net/0.gif?a8mat=2BFG64+9OW21M+G3G+6OWU9" alt="">
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2BFG64+74LVA2+2XGE+5ZMCH" target="_blank">
								<img border="0" width="300" height="250" alt="" src="http://www28.a8.net/svt/bgt?aid=140128924431&wid=002&eno=01&mid=s00000013667001006000&mc=1"></a>
								<img border="0" width="1" height="1" src="http://www14.a8.net/0.gif?a8mat=2BFG64+74LVA2+2XGE+5ZMCH" alt="">
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2HWHEG+40ODJU+396W+5ZEMP" target="_blank">
								<img border="0" width="300" height="250" alt="" src="http://www24.a8.net/svt/bgt?aid=151001368243&wid=002&eno=01&mid=s00000015188001005000&mc=1"></a>
								<img border="0" width="1" height="1" src="http://www14.a8.net/0.gif?a8mat=2HWHEG+40ODJU+396W+5ZEMP" alt="">
							</li>
							<li>
								<a href="http://px.a8.net/svt/ejp?a8mat=2HWHEG+41V8RE+361K+BZ8OX" target="_blank">
								<img border="0" width="300" height="250" alt="" src="http://www21.a8.net/svt/bgt?aid=151001368245&wid=002&eno=01&mid=s00000014780002012000&mc=1"></a>
								<img border="0" width="1" height="1" src="http://www10.a8.net/0.gif?a8mat=2HWHEG+41V8RE+361K+BZ8OX" alt="">
							</li>
						</ol>
					</div>
				</div>

				<div id="footer">
					<address>Copyright &copy; 2016- <a href="http://www.kiki-verb.com/" target="_blank">kiki-verb.com</a>. All Rights Reserved.</address>

					<script type="text/javascript">
						var _gaq = _gaq || [];
						_gaq.push(['_setAccount', 'UA-21623031-10']);
						_gaq.push(['_trackPageview']);
						(function() {
							var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
							ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
							var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
						})();
					</script>
				</div>
			</div>
		</div>
	</div>
}