@()

@main("ネコサーチとは - ネコサーチ | 迷子猫と保護情報の専用掲示板", false) {
<body id="static">
	<div id="wrap">
		<div id="contents">
			<div id="nav">
				@template.sideBar()
			</div>
			<div id="main_wrap">
				<div id="main_content">
					<h2><i class="icon-info-sign"></i>ネコサーチとは</h2>
					<div id="add_320_50_twin"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="6816982319"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="6816982319"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div>

					<div class="feat_contents">
						<h3>大切な家族と、再会するために。</h3>
						<p>ネコサーチは、迷子の猫と飼い主が無事に再会できるように、だれでも投稿・検索ができる簡単さと、個人情報の安全性に配慮をした、無料の掲示板サイトです。</p>
						<p>メールアドレスや電話番号などの個人情報を公開すること無く、迷子になってしまった猫や保護した猫の情報を投稿することができます。</p>
						<p>また、少しでも発見の可能性を広げられるよう、スマートフォンにも対応しました。</p>
						<p>投稿にコメントが書かれた時には、大事な情報を見逃す事が無いように、投稿者にアラートメールが届きます。</p>
						<p>大切な家族の一員と無事に再会できるよう、当サイトがお力になればと願っています。</p>
					</div>
				</div>

				<div id="footer">
					<address>Copyright &copy; 2016- <a href="http://www.kiki-verb.com/" target="_blank">kiki-verb.com</a>. All Rights Reserved.</address>

					<script type="text/javascript">
					var _gaq = _gaq || [];
					_gaq.push(['_setAccount', 'UA-21623031-10']);
					_gaq.push(['_trackPageview']);
					(function() {
						var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
					})();
					</script>
				</div>
			</div>
		</div>
	</div>
}