@()

@main("ご利用規約 - ネコサーチ | 迷子猫と保護情報の専用掲示板", false) {
<body id="static">
	<div id="wrap">
		<div id="contents">
			<div id="nav">
				@template.sideBar()
			</div>

			<div id="main_wrap">
				<div id="main_content">
					<h2>ご利用規約</h2>
					<div id="add_320_50_twin"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="6816982319"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="6816982319"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div>

					<p>本規約はネコサーチ（以下「本サイト」）により、本サイトの利用者（以下「ユーザー」）に提供するコンテンツの利用条件を定めるものです。<br />以下の利用条件をよくお読みになり、これに同意される場合にのみご利用、情報投稿いただきますようお願い致します。</p>
					<h3>情報の投稿について</h3>
					<p>必ず本規約を読み、これに同意した場合のみ情報をご投稿下さい。また、個人・法人を問わず、営利・宣伝目的の情報投稿やご利用は禁止いたします。<br />また、以下に該当すると思われる行為を発見した場合、本サイトの判断で予告無くユーザーへのサービス提供に制限をかけたり、投稿内容やアカウントを抹消する場合があります。</p>
					<ul>
						<li>公序良俗に反する行為</li>
						<li>法令に違反する行為</li>
						<li>犯罪行為及び犯罪行為に結びつく行為</li>
						<li>営利を目的とした宣伝行為</li>
						<li>他の利用者、第三者、本サイトの権利を侵害する行為</li>
						<li>他の利用者、第三者、本サイトを誹謗、中傷する行為及び名誉・信用を傷つける行為</li>
						<li>他の利用者、第三者、本サイトに不利益を与える行為</li>
						<li>本サイトの運営を妨害する行為</li>
						<li>虚偽の情報を登録及び発信する行為</li>
						<li>プライバシー侵害の恐れのある個人情報の投稿</li>
						<li>その他、本サイトが不適当と判断する行為</li>
					</ul>
					<p>なお、規約に反したユーザーに対しアカウントを抹消するなどの対処を行った場合など、本サイトはその理由を説明する義務を負わないこととします。</p>
					<h3>私的利用の範囲外の利用禁止</h3>
					<p>ユーザーは、運営者が承認した場合（当該情報に関して権利を持つ第三者がいる場合には、運営者を通じ当該第三者の承諾を取得することを含む）を除き、運営者を通じて入手したいかなる情報も複製、販売、出版その他私的利用の範囲を超えて使用をすることができないものとします。</p>
					<h3>著作権等の知的財産権について</h3>
					ユーザーが本サイトで投稿した情報は、投稿した利用者自身に著作権が発生するものとします。<br />
					但し、宣伝・利用促進・出版・マーケティング等を目的として投稿された著作物を使用する場合、ユーザーが本サービスにおいて情報等を掲載等した場合、ユーザーは本サイトに対して、当該情報等について全世界において無償かつ期間無制限で非独占的に使用する権利（複製権・頒布権・翻案権・同一性保持権・送信可能化権を含む公衆送信権を含みますが、これらに限られません）を許諾したものとみなします。<br />
					また、ユーザーは本サイトに対し、情報等に関して著作者人格権を行使しないものとします。
					<h3>提供サービスについて</h3>
					<p>本サイトで提供するサービスやコンテンツに関して、その正常性や品質・内容等について保証は致しません。<br />なお、サーバーのメンテナンスやプログラムの修正等により事前の通告無く一時的にサービスを停止させていただく場合があります。<br />また、停電・火災・天災・戦争・暴動・電力制限等により本サイトの提供が困難となった場合や、本サイトの運営に関する問題が生じた場合、行政その他より本サイトからのサービス提供を禁じられた場合なども、予告無くサービスを停止させていただく場合があります。</p>
					<h3>提供サービス内容等の変更について</h3>
					<p>本サイトはユーザーの了承を得ることなく、必要に基づき本サイトで提供するサービスの内容および本規約の内容を事前の予告なく変更することができます。</p>
					<h3>免責事項について</h3>
					<p>本サイトが提供する情報やユーザーの投稿内容等については、その正確性や安全性を保障するものではなく、本サイト上のコンテンツやリンク先サイトへのアクセス・リンク先サイトでのサービス利用などに起因または関連して生じた一切の損害（間接的であると直接的であるとを問わず）について、本サイトは一切責任を負わないものとします。<br />また、ユーザーは本サイトに対し、本サイトで保存するデータの消失や漏洩・サーバーの稼動停止によりクレーム、紛争、損害賠償の請求等が起こった場合の損害、責任について一切を免責するものとします。<br />その他、本サイトを利用することによって生じるいかなるトラブルに対しても、当事者同士の解決を基本とし、本サイトはその責を一切負わないものとします。</p>
					<h3>損害賠償</h3>
					<p>ユーザーが本規約に違反し、または不正もしくは違法な行為によって本サイトに損害を与えた場合、本サイトは当該ユーザーに対して損害賠償を請求する場合があります。</p>
					<h3>準拠法等について</h3>
					<p>本規約は日本法に従って解釈され、本サイトとユーザーとの紛争については、東京地方裁判所を専属管轄裁判所とすることを予め合意します。<br />また、本規約ならびに各利用規定等に定めがない紛争が生じたときは、本サイトにおいて定める基準に基づき解決するものとします。</p>
					<h3>以上<br />2014年3月15日</h3>
				</div>

				<div id="footer">
					<address>Copyright &copy; 2016- <a href="http://www.kiki-verb.com/" target="_blank">kiki-verb.com</a>. All Rights Reserved.</address>

					<script type="text/javascript">
					var _gaq = _gaq || [];
					_gaq.push(['_setAccount', 'UA-21623031-10']);
					_gaq.push(['_trackPageview']);
					(function() {
						var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
					})();
					</script>
				</div>
			</div>
		</div>
	</div>
}