@()

@main("迷子かも？と思ったら - ネコサーチ | 迷子猫と保護情報の専用掲示板", false) {
<body id="static">
	<div id="wrap">
		<div id="contents">
			<div id="nav">
				@template.sideBar()
			</div>
			<div id="main_wrap">
				<div id="main_content">
					<h2><i class="icon-question-sign"></i>迷子かも？と思ったら</h2>
					<div id="add_320_50_twin"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="6816982319"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="6816982319"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script></div>

					<div class="feat_contents">
						<h3>1. 自宅周辺(半径50m～100m程度)をまんべんなく探す</h3>
						<p>
							迷子になった猫の多くは、家を飛び出したものの景色の違いや音などに戸惑い、家の敷地内や自宅近辺で隠れている場合が多いようです。<br />
							室内飼の猫の場合、２～３日は最初の隠れ場所に潜んだままということもあるそうなので、だいたい自宅から半径50m～100mあたりを、念入りに調べてみましょう。<br />
							建物のスキマや軒下、駐車場の陰など、人目にあまり触れない場所を重点的に探してみてください。<br />
							探す時間帯を変えてみると、猫の反応や見える景色も変わりますので、繰り返し何度も探すことも大切です。<br /><br />

							名前を呼んであげると、返事をしてくれる場合もありますが、大声で怒鳴るようなトーンだと逆に怖がってしまうため、なるべくいつもと同じように呼びかけながら周辺を探してください。<br />
							ただし、猫にとっても日常とは違う状況なので、いつも名前に反応する猫でも過信せず、目で探すようにしてください。<br /><br />

							また、出て行った窓やドアが明確な場合、同じ場所から戻ってくるケースも多いので、できればその入口に猫一匹分のスキマを開けておいてみてください。
						</p>
						<h3>2. 関係各所に届け出を出す</h3>
						<p>
							もしかしたら一足違いで保護されていて、どこかで預かってくれているかも知れませんので、下記の関係各所にもすぐに連絡を入れましょう。<br />
							迷子になった場所と日時、猫の特徴や年令、性別などを説明できるよう、メモにまとめておくと良いでしょう。
						</p>
						<h4>警察署</h4>
						<p>
							まずはお住まいの地域を管轄する警察署に届け出をしましょう。<br />
							電話連絡の際は、110番ではなく「#9110(警察総合相談所 短縮ダイヤル)」に電話するか、インターネットで「(市区町村名) 警察署」などと検索して、該当の警察署のホームページから代表電話の番号を調べて連絡してください。<br />
							そして、念の為に近所の交番にも行って、猫の写真や特徴を伝え、見つけたり保護したら連絡をしてもらえるように伝えましょう。<br />
							交番の方はパトロール等で付近を廻ることも多いですので、その途中で見つけてくれるかもしれませんし、保護した人も「拾ったら警察」と考えて、最寄りの交番に届けてくれる場合があります。<br />
							また、各警察署に届けられているペットの検索が出来る「<a href="http://www.npa.go.jp/consultation/chiiki2/ishitsubutsulink.htm" target="_blank">都道府県警察における遺失物の公表ページ</a>」というのもありますので、こちらも時折調べてみてください。
						</p>
						<h4>保健所</h4>
						<p>
							市区町村ごとに管轄が分かれていますので、<a href="http://www.mhlw.go.jp/stf/seisakunitsuite/bunya/kenkou_iryou/kenkou/hokenjo/index.html" target="_blank">厚生労働省 保健所管轄区域案内</a>からお住まいの管轄保健所を調べ、届け出をしましょう。<br />
							市区境や県境にお住まいの方は、念のため双方の保険所に連絡を取ってください。<br />
							また、全国の保健所で保護されたペットの写真や特徴が検索できる、環境省運営の「<a href="http://jawn.env.go.jp/" target="_blank">収容動物データ検索サイト</a>」からも確認ができます。<br />
							なお、保護されたとしても必ず連絡が来るとは限らないようですので、２～３日に一度は連絡するようにしてください。
						</p>
						<h4>動物管理(愛護)センター</h4>
						<p>
							こちらは保健所と違い都道府県ごとに管轄が分かれていますので、インターネットで「(都道府県名) 動物管理センター」などと検索して、該当の管理センターのホームページから電話番号を調べて連絡してください。<br />
							なお、こちらも保護されたとしても必ず連絡が来るとは限らないようですので、２～３日に一度は連絡するようにしてください。<br />
							不確かな話ではありますが、保健所や動物管理センターは、担当の方によっては電話での問い合わせだと面倒がって、確認せず「いない」と答える人がいるそうなので、できたら実際に現地に行き、ご自身でご確認されたほうが確実でしょう。
						</p>
						<h4>市区町村役場</h4>
						<p>
							自治体によっては、問い合わせ先が保健所ではなく、市区町村役場の衛生課や健康福祉部などになっているところもあります。<br />
							保護された方が市区町村役場に届ける場合もありますので、そちらにも連絡しておきます。<br />
							市区境や県境にお住まいの方は、念のため双方の最寄り役場に連絡を取ってください。<br />
							また、もし不幸にも外で事故に遭ってしまっていた場合、最悪の場合は清掃局や土木課、公園課などがその処理を行います。<br />
							その場合は、日時や場所の記録だけしか残してもらえず、猫の特徴まではほとんど記されないようです。<br />
							本当に苦しいことですが、万が一の場合でも、最後は抱きしめてあげられるように、心を落ち着かせて問い合わせてください。
						</p>
						<h4>動物病院</h4>
						<p>
							猫を保護したという人が来院しているかもしれませんし、お客さんから迷子猫の話題を耳にしているかもしれませんので、近所の動物病院に伺ってみてください。<br />
							動物病院のお客さんはペットの大切さを理解してくれる人ばかりですので、情報が集まる場合もあります。
						</p>
						<h3>3. ポスター・チラシを使って近隣(半径300m～500m程度)を探す</h3>
						<p>
							地域の野良猫に追い掛け回されたり、車の音に驚いたりすると、思いもよらない所まで逃げてしまう場合があります。<br />
							また、迷子になってから時間が経つほど、遠くへ行ってしまう可能性が高くなります。<br />
							家の敷地内や自宅近辺で隠れている場合が多いとはいえ、その周辺を数日間探しても見つからないのであれば、少しずつ捜索エリアを拡大していく必要があります。<br /><br />

							猫のテリトリーは一般に、オスが500m～1km(去勢済みなら250m～500m)、メスが150m～250m（避妊手術済みなら50m～150m）といわれています。<br />
							その周辺を探しながら、近所の商店やスーパー、動物病院などにポスターを貼らせて貰うように協力をお願いします。<br />
							また、近隣の方々にもチラシをお配りして、情報を集めることも効果的です。<br /><br />

							ポスターやチラシはそんなに高品質である必要はなく、枚数もそれほど必要ではないですが、伝えるべき情報（猫の姿形、最大の特徴、連絡先など）はしっかり分かりやすく掲載しましょう。<br />
							下世話な話ですが、「御礼を差し上げます」というような文言を掲載すると、反応が良くなるケースも多々あるようです。<br />
							なお、掲載する連絡先の名前を仮名にしておくと、イタズラや個人情報の悪用に一定の効果があるそうです。
						</p>
						<h3>4. インターネットを利用する</h3>
						<p>
							当サイトのような迷子掲示板やtwitter、mixi、facebookなどを活用して、インターネット上のユーザーに力を借りることは、非常に有効です。<br />
							それぞれのサイトでユーザー数や利用者の層が違いますので、ひとつにこだわらず複数のサイトを利用してみましょう。<br />
							ただし、サイトによっては電話番号やメールアドレスがそのまま公開されてしまうものもありますので（当サイトでは個人情報に配慮し、これらの情報は秘匿されます）、その際はポスターやチラシと同じく一部偽名で投稿したり、迷子情報を受け取る専用の連絡先を用意するなどの対策をしたほうが良いでしょう。
						</p>
						<h3>番外編. ペット探偵に依頼する</h3>
						<p>
							迷子のペット捜索専門の「ペット探偵」に依頼するという手段もあります。<br />
							費用については1日につき15,000円から50,000円ほどまでと、業者によって非常に差があります。<br />
							また、これとは別に事前の打ち合わせ費用や捜索調査費、交通費などという項目での加算もあるようですので、5日間の捜査で総額30～40万円ほどになるケースが多いようです。<br /><br />

							ただしペット探偵に対しては、インターネット上では悪い評判を多々見かけます。<br />
							もちろん親切で誠実な業者もあると思いますが、依頼を考えるのであれば業者のクチコミ情報を調べたり、実際に相談する際にも費用の内訳や追加費用の有無などをしっかり確認するなど、後々に問題が生じないように気になる点は十分にチェックするようにしてください。
						</p>
					</div>
				</div>

				<div id="footer">
					<address>Copyright &copy; 2016- <a href="http://www.kiki-verb.com/" target="_blank">kiki-verb.com</a>. All Rights Reserved.</address>

					<script type="text/javascript">
					var _gaq = _gaq || [];
					_gaq.push(['_setAccount', 'UA-21623031-10']);
					_gaq.push(['_trackPageview']);
					(function() {
						var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
						ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
						var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
					})();
					</script>
				</div>
			</div>
		</div>
	</div>
}