@(message: String, cats: List[Cat], tdfk: String, keyword: String, page: Integer, pageMax: Integer, prev: String, next: String, searchNum: Integer)

@main("ネコサーチ | 迷子猫と保護情報の専用掲示板", false) {
<body id="search">
	<div id="wrap">
		<div id="contents">
			<div id="nav">
				@template.sideBar()
			</div>
			<div id="main_wrap">
				<div id="main_content" class="search">
					<h2><i class="icon-bullhorn"></i>探されている猫の情報を検索する</h2>
					<div id="add_320_50_twin">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="6816982319"></ins>
						<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<ins class="adsbygoogle" style="display:inline-block;width:320px;height:50px" data-ad-client="ca-pub-1004150299673517" data-ad-slot="6816982319"></ins>
						<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
					</div>
					<div id="form_result_box">
						<h3>検索条件</h3>
						<p>@tdfk 周辺</p>
						@if(!keyword.isEmpty()) {
							<p>@keyword</p>
						}
						<h4>検索結果 @searchNum 件</h4>
					</div>

					@if(!cats.isEmpty()) { 
					@views.html.helper.pagenate(page,pageMax,prev,next)
					<ul id="searched_box">
						@for(cat <- cats) {
							<li class="searching">
								<h3><i class="icon-bullhorn"></i> 探しています<span>@cat.getMissingDate()</span></h3>
								<p>
									<a href="/detail/@cat.catId?type=search" class="opa">
										<img src="@cat.catImage" width="305" alt="探しています" />
									</a>
								</p>
								<dl>
									<dt>迷子になった場所</dt>
										<dd>@cat.pref.prefName@cat.cityName@cat.address 周辺</dd>
									<dt>体毛の色</dt>
										<dd>@cat.bodyColor</dd>
									<dt>瞳の色</dt>
										<dd>@cat.eyesColor</dd>
									<dt>特徴</dt>
										<dd>@cat.standoutFeature</dd>
								</dl>
								<p class="moreread">
									<i class="icon-double-angle-right"></i>
									<a href="/detail/@cat.catId?type=search">詳細を読む</a>
								</p>
							</li>
						}
					</ul>
					@views.html.helper.pagenate(page,pageMax,prev,next)
					} else {
						<p>この条件での該当情報はありませんでした。</p>
					}
				</div>

				<div id="footer">
					<address>Copyright &copy; 2016- <a href="http://www.kiki-verb.com/" target="_blank">kiki-verb.com</a>. All Rights Reserved.</address>
				</div>
			</div>
		</div>
	</div>

}
